@model IEnumerable<SistemaDeAsistenciaLogistica.Core.Domain.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Inventarios</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Ingreso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Valor Unidad/
                  Valor Metro
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
               Insumo
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnidadValorMetro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInsumoNavigation.NombreInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPerfilNavigation.PrimerApellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
