@model SistemaDeAsistenciaLogistica.Core.Domain.Produccion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Produccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPerfilNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPerfilNavigation.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProduccion">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
