@model IEnumerable<SistemaDeAsistenciaLogistica.Core.Domain.Produccion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Producciones</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Fecha Producción
            </th>
         
                <!--  <th>
       Detalle Producto
    </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
               Estado
            </th>
            <th>
               Producto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProduccion)
            </td>
            <!--  <td>
               @Html.DisplayFor(modelItem => item.DetalleProducto)
            </td> -->
             <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoProduccion1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduccion"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdProduccion"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduccion"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    }
        </tbody>
    </table>
