@model SistemaDeAsistenciaLogistica.Core.Domain.EntregaPedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Entrega Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.IdPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduccionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduccionNavigation.IdProduccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEntregaPedido">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
