@model SistemaDeAsistenciaLogistica.Core.Domain.Cotizacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
           Valor Total
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
           Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPerfilNavigation.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCotizacion">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
