@model SistemaDeAsistenciaLogistica.Core.Domain.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha Pedido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            Lugar Entrega
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LugarEntrega)
        </dd>
        <dt class = "col-sm-2">
            Barrio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBarrioNavigation.NombreBarrio)
        </dd>
        <dt class = "col-sm-2">
           No.Cotización
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCotizacionNavigation.IdCotizacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPedido">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
