@model IEnumerable<SistemaDeAsistenciaLogistica.Core.Domain.Proveedor>

@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Distribuidora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th><h6><a asp-action="Create">Registrar</a></h6></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Distribuidora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProveedor"><i class="fas fa-edit"></i></a> |
                
                <a asp-action="Delete" asp-route-id="@item.IdProveedor"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
